.detail-card {
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
   
}

.detail-image {
    max-width:250px;
    max-height:250px;
}

.detailPage {
    background-color: whitesmoke;
    padding-bottom: 5%;
}