.movies {
    display : flex;
    flex-wrap: wrap;

}

.listMain {
    background-color: whitesmoke;
}

.addBtn {
    margin-top: 5%;
}

.poster-grid {
    justify-content:center;
    align-items:center;
    padding: 3%;
}

.image {
    max-width:250px;
    max-height:250px;
    width: 100%;
    height: 100%;
}


