.addMovie {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    padding: 3%;
   
}

.btnGroup {
    margin-top: 4%;
}

.genreForm {
    margin-top: 6px;
}


/* .inputForm {
    justify-content: center;
    align-items: center;
    margin: 3%;
} */