.addMovie {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    padding: 3%;
   
}

.btnGroup {
    margin-top: 4%;
}

.genreForm {
    margin-top: 6px;
}

.addPage {
    background-color: whitesmoke;
    margin-top: 3%;
    padding-bottom: 20%;
    padding-top: 1px;
}

